:root {
    --primary-color: #7fd34b;
    --secondary-color: #000000;
    --promotion-sale-bg-color: #eeee22;
    --promotion-sale-font-color: #000000;
    --promotion-sale-font-color-hurry-text: #ffffff;
    --price-text-color: #0367bf;
}

.container {max-width: 1340px;margin: 0 auto;padding: 0 15px;}
body {padding: 0;font-weight: 400;line-height: 1.4;margin:0;font-family: "Barlow", sans-serif;}

.primary-btn, .secondary-btn {
    background-color: #fff;
    line-height: 20px;
    color: #000;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 13px 33px;
    text-align: center;
    display: inline-block;
}
.secondary-btn {
    color: #fff;
    background-color: var(--secondary-color);
     border-color: var(--secondary-color);
}
.header-section .primary-btn, .header-section .secondary-btn {
    padding: 11px 33px;
}
.primary-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.secondary-btn:hover {
    color: var(--secondary-color);
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom:20px;
    color: #000;
    line-height: 1.05;
    letter-spacing: -1.3px;
    font-weight: 500;
}

.section-heading-h2 {
    line-height: 1.05;
    font-size: 44px;
}



body .slick-dots {
    bottom: 32px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}
body .slick-dots li {
    width: auto;
    height: auto;
}

body .slick-dots li button {
    width: 12px;
    background-color: #fff;
    padding: 0;
    height: 5px;
    border-radius: 10px;
    transition: all 0.3s 
ease-in-out;
    opacity: .5;
}

body .slick-dots li button:before {
    display:none;
}

body .slick-dots li.slick-active button {
    width: 34px;
    opacity: 1;
    background-color: var(--primary-color);
}

.testimonial-slider .slick-dots {
    position: static;
    transform: translate(0, 0);
    padding: 0;
    margin-top: 50px;
    text-align: center;
}
.testimonial-slider .slick-dots li {
border: 1px solid transparent;
    border-radius: 25px;
    padding: 4px;
}
.testimonial-slider .slick-dots li button {
    
    width: 12px ;
    height: 12px;
    background-color: #fff;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.testimonial-slider .slick-dots li.slick-active {
    border-color:#fff;
}

.testimonial-slider .slick-dots li.slick-active button {
    width:12px;
    background-color: #000;
}

.line-decorative-title {
    position: relative;
    font-weight: 600;
    margin: 0 0 40px;
    color: #4e4e4e;
}

.section-heading-5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
}
.line-decorative-title span {
    display: inline-block;
    padding-right: 30px;
    background-color: #fff;
    position: relative;
}

.line-decorative-title span:after, .line-decorative-title:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
}

.line-decorative-title span:after {
    right: 0;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
}

.line-decorative-title:after {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    left: 0;
    z-index: -1;
}

.cms-page ol li,
.cms-page p,
.cms-page ul li {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3
}

.cms-page p + p {
    margin-top:20px;
}

.cms-page a {
	display: inline
}

.cms-page a:hover {
	text-decoration: underline
}

.cms-page ol,
.cms-page ul {
	margin: 25px 0;
	padding-left: 20px
}

.cms-page ol li+li,
.cms-page ul li+li {
	margin-top: 10px
}

.rating-star::after {
  width: calc((attr(data-rating number) / 5) * 100%);
}

@media (max-width: 1200px) {
    .section-heading-h2 {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .section-heading-h2 {
        font-size: 36px;
    }
    .cms-page ol li,
    .cms-page p,
    .cms-page ul li {
        font-size: 16px
    }

    .cms-page ol,
    .cms-page ul {
        margin: 15px 0
    }
}

@media (max-width: 991px) {
    .section-heading-h2 {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .line-decorative-title {
        margin: 0 0 20px;
    }
     .section-heading-5 {
        font-size: 18px;
    }
    .section-heading-h2 {
        font-size: 26px;
    }
    .storage-listing-sec .section-heading-h2 {
        margin: 0 0 10px;
    }
}

